@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Open+Sans&family=Roboto+Mono&family=Source+Code+Pro&family=Work+Sans:wght@100&display=swap');

svg {
    background-color: #2B2B2B;
}

text.math {
    font-family: 'Bentham', serif;
    fill: #FFFFF0;
}

text.braces {    
    font-family: 'Work Sans', sans-serif;
    fill: #FFFFF0;
}

text.open {
    font-family: 'Open Sans', sans-serif;
    fill: #FFFFF0;
}

line.grid {
    stroke: #555555;
    stroke-width: 1; 
    stroke-linecap: square;
}