body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    max-width: 978px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,ul,ol {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
}

li {
  padding-left: 10px;
}

p.title {  
    font-size: 50px;   
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

h1 {  
    font-size: 32px;
    font-weight: 300;
}

span.term {
    font-style: italic;
}

span.mono {
    font-family: 'Source Code Pro', monospace;
}

object.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a,a:visited {
    color: #3367D6;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: #CC0000;
    text-decoration: none;
    white-space: nowrap;
}

pre.tetrisscript {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    background: #2B2B2B;    
    border-left: 6px solid #888888;
    width: 100%;
    white-space: pre-wrap;
    padding: 15px 15px 15px 50px;
    color: #BBBBBB;
    counter-reset: step;
    counter-increment: step 0;
    position: relative;
}

pre.tetrisscript .line:before {
    color: #888888;
    content: counter(step);
    counter-increment: step;     
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    margin-right: 1em;
    text-align: right;
    margin-left: -3.25em;
}

span.normal {
    color: #BBBBBB;
}

span.comment {
    color: #808080;
}

span.keyword {
    color: #CC7832;
}

span.number {
    color: #CC7832;
}

span.declare {
    color: #FFC66D;
}