body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    max-width: 978px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,ul {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
}

p.title {  
    font-size: 50px;   
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

h1 {  
    font-size: 32px;
    font-weight: 300;
}

span.term {
    font-style: italic;
}

object.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a,a:visited {
    color: #3367D6;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: #CC0000;
    text-decoration: none;
    white-space: nowrap;
}