body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    max-width: 978px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,ul,ol {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
}

li {
  padding-left: 10px;
}

p.title {  
    font-size: 43px;   
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    line-height: 50px;
}

h1 {  
    font-size: 32px;
    font-weight: 300;
}

h2 {  
    font-size: 24px;
    font-weight: 300;
}

h3 {  
    font-size: 18px;
    font-weight: 600;
}

span.pow {
    vertical-align: super;
}

span.sub {
    vertical-align: sub;
}

span.sub2 {
    vertical-align: sub;
    font-size: 14px;
}

span.sub3 {
  vertical-align: sub;
  font-size: smaller;
}

span.sup {
    vertical-align: super;
}

span.sup2 {
    vertical-align: super;
    font-size: 14px;
}

span.sup3 {
    vertical-align: super;
    font-size: smaller;
}

span.serif {
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
}

span.term {
    font-style: italic;
    white-space: nowrap;
}

span.italic {
    font-style: italic;
}

span.overline {
    text-decoration: overline;
}

span.overline2 {
    border-top: 0.1em solid;
    padding-top: 0px;
}

span.high-overline {
    border-top: 0.1em solid;
    padding-top: 5px;
}

span.higher-overline {
    border-top: 0.1em solid;
    padding-top: 10px;
}

span.nowrap {
    white-space: nowrap;
}

span.menu {
    white-space: nowrap;
    font-weight: bold;
}

span.keys {
    white-space: nowrap;
    font-weight: bold;
}

span.mono {
    font-family: 'Source Code Pro', monospace;
}

span.command {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    padding-left: 2em;
    text-indent: -2em;
    display: inline-block;
}

span.math {
    font-family: 'Bentham', serif;
    font-size: 19px;
    white-space: nowrap;
}

span.roboto {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;    
}

object.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a,a:visited {
    color: #3367D6;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    color: #CC0000;
    text-decoration: none;
    white-space: nowrap;
}

p.definition {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;   
    background: #E7E9EB;
    width: calc(100% - 56px);
    padding: 15px 25px 15px 25px;
    border-left: 6px solid #888888;
}

table.bits {
    table-layout: fixed;    
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: none;
    font-family: 'Bentham', serif;
    font-size: 19px;
    text-align: center;    
}

td.row-number {
    border-top: none;
    border-left: none;
    border-bottom: none;
    width: 20px;
    text-align: right;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

td.column-number {
    border-top: none;
    border-left: none;
    border-bottom: none;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

td.bottom {
    border-bottom: 1px solid;
}

td.left {
    border-left: 1px solid;
}

td.right {
    border-right: 1px solid;
}

td.top {
    border-top: 1px solid;
}

td.top-2 {
    border-top: 2px solid;
}

td.red {
    background: #FFCECE;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

td.yellow {
    background: #FFFFCE;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

td.green {
    background: #CEFFCE;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

td.cyan {
    background: #CEFFFF;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

td.blue {
    background: #CCCDFF;
    border-left: 1px solid;
}

table.map{
    border-collapse: collapse;
}

td.key {
    padding-right: 10px;
}

table.matchers {
    border-collapse: collapse;
}

table.borderless {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;  
}

table.high-rows td {
    padding-top: 5px;
}

th.math {
    font-family: 'Bentham', serif;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1pt solid silver;
    padding-left: 10px;
    padding-right: 10px;  
}

th.border-left {
    border-left: 1pt solid silver;
}

th.borderless {
    text-align: center;
    font-weight: bold;
    border-bottom: 1pt solid silver;  
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;  
}

th.mono {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    border-bottom: 1pt solid silver;  
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

td.separator {
    padding-top: 1em;
}

td.half-separator {
    padding-top: 0.5em;
}

td.pad {
    padding-left: 10px;
    padding-right: 10px;
}

td.borderless {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

td.tab {
    border-left: 25px;
}

td.pad-left {
    padding-left: 25px;
}

td.pad-right {
    padding-right: 25px;
}

td.pad-right2 {
    padding-right: 20px;
}

td.mono {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;    
}

td.mono2 {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}

td.roboto {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;    
}

td.centered {
    text-align: center; 
}

td.pseudocode {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

td.border-left {
    border-left: 1pt solid silver;
}

td.number {
    text-align: right;
}

table.copyright {
    width: 100%;
    margin-top: -15px;
}

td.copyright {    
}

p.copyright {
    font-size: 12px;
    line-height: 8px;
}

p.home {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    text-align: right;
}

hr {
    border-top: 0pt;
    border-bottom: 1pt solid silver;
}

pre.pseudocode2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    border-left: 6px;
    width: calc(100% - 71px);
    padding: 15px 15px 15px 50px;
    white-space: pre-wrap;
    counter-reset: step;
    counter-increment: step 0;
    position: relative;    
}

pre.pseudocode2 .line:before {
    color: #3F3F3F;
    content: counter(step);
    counter-increment: step;     
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    margin-right: 1em;
    text-align: right;
    margin-left: -3.25em;
}

span.keyword2 {
    font-weight: bold;
}

pre.pseudocode {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

pre.definition {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;   
    background: #E7E9EB;
    width: calc(100% - 56px);
    padding: 15px 25px 15px 25px;
    border-left: 6px solid #888888;
}

pre.code {
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    background: #2B2B2B;    
    border-left: 6px solid #888888;
    width: calc(100% - 71px);
    white-space: pre-wrap;
    padding: 15px 15px 15px 50px;
    color: #E8E8E8; /* #BBBBBB; */
    counter-reset: step;
    counter-increment: step 0;
    position: relative;
}

pre.code .filename {
    text-decoration: underline;
    color: #FFC66D;
}

pre.code .filename:before { 
    content: " ";
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    margin-right: 1em;
    text-align: right;
    margin-left: -3.25em;
    padding-bottom: 0.5em;
}

pre.code .line:before {
    color: #A8A8A8; /* #888888; */
    content: counter(step);
    counter-increment: step;     
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    margin-right: 1em;
    text-align: right;
    margin-left: -3.25em;
}

span.normal {
    color: #E8E8E8; /* #BBBBBB; */
}

span.comment {
    color: #A0A0A0;  /* #808080; */
}

span.keyword {
    color: #FF953F; /* #CC7832; */
}

span.number {
    color: #81BBE8; /* #6897BB; */
}

span.number2 {
    color: #80E580;
}

span.identifier {
    color: #BD94D3; /* #9876AA; */
}

span.label {
    color: #E8E8E8; /* #BBBBBB; */
    font-weight: bold;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 978px;
}